{% extends 'default_layout.dhtml' %}

{% block title %}
	Search
{% endblock %}

{% block heading %}
	Search
{% endblock %}

{% block body %}
	<form name="search" method="get" action=".">
		<table class="search-options ruled">
			<tr>
				<th>Types</th>
				<th>Containing Text</th>
				<th>Programs</th>
				<th>Document Types</th>
				<th></th>
			</tr>
			<tr>
				<td class="search-types">{{ form.models }}</td>
				<td>
					{{ form.q }}
				</td>
				<td class="search-programs">{{ form.programs }}</td>
				<td class="search-doctypes">{{ form.document_types }}</td>
				<td><input type="submit" value="Search" /></td>
			</tr>
		</table>
		
		{% if suggestform %}
			{{ suggestform.suggestion }}			
			<script type="text/javascript">
			function correct()
			{
				var form = document.forms.search;
				form.q.value = form.suggestion.value;
				form.submit();
				return false;
			}
			</script>
			<div class="warning-message search-suggestion">
				<span class="prompt">
					Did you mean
					<a class="correction" href="#" 
						onclick="return correct();">{{ suggestform.suggestion.value }}</a>
					?
				</span>
			</div>
		{% endif %}			

		{% if is_real_search %}
			<h3>Results</h3>

			{% if page.object_list %}
				{% load django_tables2 %}
				{% render_table results_table %}
			{% else %}
				<p>No results found.</p>
			{% endif %}
		{% else %}
			<p>Please enter some search terms above, or select some
			programs and document types, and click on the Search button.</p>
		{% endif %}
	</form>
{% endblock %}
