{% extends 'default_layout.dhtml' %}

{% block style %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}binder/js/jquery-1.7.1.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}binder/js/jquery.multiSelect.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}binder/js/jquery.bgiframe.min.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}binder/js/jquery.multiSelect.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
	<script type="text/javascript">
		jQuery(document).ready(function()
		{
			$(".multiselect-jquery").multiSelect({
				selectAll: false,
				selectNone: true,
				selectNoneText: 'Search All',
			});
		});
	</script>
	{% comment %}
	{# another multiselect library, using jQuery-UI and better documented? #}
	<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-1.8.18/js/jquery-ui-1.8.18.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-multiselect-widget/src/jquery.multiselect.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}jquery-ui-multiselect-widget/jquery.multiselect.css" />
	{% endcomment %}
{% endblock %}

{% block title %}
	Search
{% endblock %}

{% block heading %}
	Search
{% endblock %}

{% block body %}
	<form name="search" method="get" action=".">
		<table class="search-options ruled">
			<tr>
				<th>Types</th>
				<th>Containing Text</th>
				<th>Programs</th>
				<th>Document Types</th>
				<th></th>
			</tr>
			<tr>
				<td class="search-types">{{ form.models }}</td>
				<td>
					{{ form.q }}
				</td>
				<td class="search-programs">{{ form.programs }}</td>
				<td class="search-doctypes">{{ form.document_types }}</td>
				<td><input type="submit" value="Search" /></td>
			</tr>
		</table>
		
		{% if suggestform %}
			{{ suggestform.suggestion }}			
			<script type="text/javascript">
			function correct()
			{
				var form = document.forms.search;
				form.q.value = form.suggestion.value;
				form.submit();
				return false;
			}
			</script>
			<div class="warning-message search-suggestion">
				<span class="prompt">
					Did you mean
					<a class="correction" href="#" 
						onclick="return correct();">{{ suggestform.suggestion.value }}</a>
					?
				</span>
			</div>
		{% endif %}			

		{% if is_real_search %}
			<h3>Results</h3>

			{% if page.object_list %}
				{% load django_tables2 %}
				{% render_table results_table %}
			{% else %}
				<p>No results found.</p>
			{% endif %}
		{% else %}
			<p>Please enter some search terms above, or select some
			programs and document types, and click on the Search button.</p>
		{% endif %}
	</form>
{% endblock %}
